---
layout: page
title : Portfolio
header : Lavori Svolti
group: navigation
---

{% for post in site.categories.portfolio  %}
<div class="row z-depth-1" style="margin-bottom: 50px;padding-left:10px">
	<h3>{{ post.title }}</h3>

	{% if post.image %}
	<div class="col z-depth-2 col card-image medium s12 m6 l5" style="margin-bottom:20px;">
		
			<img class="materialboxed" src="/assets/images/portfolio/thumb/{{ post.image }}" srcset="/assets/images/portfolio/thumb/{{ post.image }} 400w, /assets/images/portfolio/{{ post.image }} 800w" width="100%" >
		
	</div>

		<!--srcset="/assets/images/portfolio/thumb/{{ post.image }} 1x, /assets/images/portfolio/{{ post.image }} 2x" -->
	{% endif %}
	<div class="col m5 l6 s12 offset-m1 offset-l1" style="margin-bottom:20px">
	{{ post.content }}
	</div>
</div>
{% endfor %}
