---
layout: page
title : Portfolio
header : Lavori Svolti
group: navigation
---
{% include JB/setup %}




{% for post in site.posts  %}
<div class="row-fluid">
	<div id="imagethumb" class="span4">
		{% if post.image %}
		<!--Inserire qui codice per thumb -->
		<img src="{{ post.image }}.thumb" class="thumbImage">
		{% else %}
		<img src="/images/nothumbnail.jpg" class="thumbImage">
		{% endif %}
	</div>
	<div id="portfolioText" class="span8">
		<h2 text-align="center">{{ post.title }}</h2>
		<p>{{ post.content }}</p>
	</div>
{% endfor %}