---
layout: page
title : Portfolio
header : Lavori Svolti
group: navigation
---
{% include JB/setup %}
{% for post in site.categories.portfolio  %}
<div class="row-fluid" style="margin-bottom: 50px">
<h1 text-align="center">{{ post.title }}</h1>
<hr><div  class="span12">
{% if post.image %}
<a href="#modal{{ post.image | remove: "." }}" role="button" class="thumbnail" data-toggle="modal" style="float:left; margin-right:20px"><img src="/thumbs/{{ post.image }}" class="thumbImage" ></a>
		<div id="modal{{ post.image | remove: "." }}" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  		<div class="thumbnail ">
    			<img src="/images/{{ post.image }}" class="modalImage" >
  			</div>
  			<div class="nav list modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</button>
			</div>
		</div>
{% else %}{% endif %}{{ post.content }}</div></div>{% endfor %}