<footer class="page-footer">
    <div class="row col s12 m12 l12">
    	<p class="" style="margin-bottom:0px; margin-top:0px;">{{ site.time | date: '%Y' }} {{ site.author.name }}</p>
    </div>
</footer>


	<script type="text/javascript" src="/assets/javascript/jquery.js"></script>
	<script type="text/javascript" src="/assets/javascript/jquery.cookie.js"></script>
	<script type="text/javascript" src="/assets/javascript/materialize.js"></script>
	<script type="text/javascript" src="/assets/javascript/app.js"></script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

</body>
</html>
