<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css" media="screen,projection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta NAME="author" CONTENT="{{site.author.name}}">
	<meta NAME="robots" CONTENT="all">
	<meta NAME="DC language" CONTENT="ita" SCHEME="RFC1766">
	<meta name="description" content="{{post.description}}">
	<meta name="keywords" content="{{post.keywords}}">
	<title>{{post.title}}</title>
	<!-- Icons 
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png"> -->
	<link rel="icon" href="/assets/favicon.ico"> 
	{% if site.safe %}
	{% include analytics.html %}
	{% endif %}
</head>
<body>

	<!--Inserire qui banner -->
	<!--Menu -->
	<header>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="right brand-logo  hide-on-small-only">{{ site.title }}</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				{% for item in site.data.site.menu %}
				<li><a class="waves-effect waves-light " href="/{{item.link}}">{{item.name}}</a></li>
				{% endfor %}
			</ul>
			<ul class="side-nav" id="mobile-demo">
				{% for item in site.data.site.menu %}
				<li><a href="/{{item.link}}">{{item.name}}</a></li>
				{% endfor %}
			</ul>

		</div>
	</nav>
</header>	
{% include modalEU.html%}
