  <div id="modalEU" class="modal ">
    <div class="modal-content">
      <h4>Politica sui Cookie</h4>
      <p>Utilizziamo cookie nostri e di terze parti al fine di migliorare la tua esperienza di navigazione sul nostro sito, valutare il coinvolgimento dei nostri utenti e migliorare i nostri servizi. Continuando nella navigazione, senza modificare le impostazioni del tuo browser acconsenti all'utilizzo di cookie sul tuo terminale</p>
    </div>
    <div class="modal-footer">
    	<a href="/EUCookiePolicy" target="_blank" class="modal-action modal-close waves-effect waves-green btn-flat">Leggi di più</a>
    	<a href="#!" id="modalEU-ok" class="modal-action modal-close waves-effect waves-green btn-flat ">Accetto</a>
    </div>
  </div>